
.card-body{
    background: rgb(235, 157, 157);
    color: rgb(16, 17, 17);
   
}


.card-body:hover{
    background: rgb(16, 130, 206);
   text-transform: uppercase;
}
   

 
    
.container{
    background-color: rgba(8, 51, 133, 0.76);
    font-size: 25px;
    color: white;
    text-align: center;

}

